[Unit]
Description=Run Warning Watch metadata refresh daily

[Timer]
OnCalendar=*-*-* 00:29:00
Persistent=true
Unit=warning-watch-refresh-imports.service

[Install]
WantedBy=timers.target
